@keyframes fade {
    from { opacity: 1; }
    to { opacity: 0.2; }
}

* {
    color: white;
    background-color: #252525;
}

h1 {
    margin: 0;
    margin-block: 0.5dvh;
    text-align: center;
    font-size: 4dvh;
}

main {
    display: grid;
    margin: auto;
    height: 75dvh;
    width: 75dvh;
}

#topBar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 0.7dvh;
}

#puzzleSize {
    margin-right: 0.4dvh;
    font-size: 3dvh;
}

#puzzleSizeDropdown {
    font-size: 2.4dvh;
}

#status {
    margin: 0;
    margin-left: auto;
    font-size: 3dvh;
}

#puzzle {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.2dvh;
    height: 75dvh;
    width: 75dvh;
    border: 0.20dvh solid white;
    border-radius: 0.7dvh;
    padding: 0.2dvh;
    text-align: center;
}

.cell {
    display: grid;
    place-content: center;
    border: 0.2dvh solid grey;
    font-size: 4dvh;
}

#bottomBar {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-areas: "regenerate . numerals";
    margin-top: 0.7dvh;
}

#regenerate {
    grid-area: regenerate;
    margin: 0;
    padding: 0;
    padding-inline: 0.2dvh;
    border-color: white;
    font-size: 3dvh;
}

#numerals {
    grid-area: numerals;
    margin: 0;
    padding: 0;
    padding-inline: 0.2dvh;
    border-color: white;
    font-size: 3dvh;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 5dvw;
    }

    main {
        height: 75dvw;
        width: 75dvw;
    }

    #topBar {
        margin-bottom: 1dvw;
    }

    #puzzle {
        gap: 0.2dvw;
        height: 75dvw;
        width: 75dvw;
        border: 0.20dvw solid white;
        border-radius: 0.7dvw;
        padding: 0.2dvw;
    }

    #puzzleSize {
        gap: 0.2dvw;
        margin-right: 0.4dvw;
        font-size: 4.3dvw;
    }
    
    #puzzleSizeDropdown {
        font-size: 3.4dvw;
    }
    
    #status {
        font-size: 4.3dvw;
    }
    
    .cell {
        font-size: 4dvw;
    }

    #bottomBar {
        margin-top: 1dvw;
    }

    #regenerate {
        padding-inline: 0.2dvw;
        font-size: 3.4dvw;
    }

    #numerals {
        padding-inline: 0.2dvw;
        font-size: 3.4dvw;
    }
}